config.env
.env
.env.*
!.env.example

__pycache__/
*.py[cod]

*.log
logs/

VideoEncoder/downloads/
VideoEncoder/encodes/
VideoEncoder/utils/extras/

*.db
*.sqlite
*.sqlite3

.venv/
venv/

.DS_Store
Thumbs.db
.vscode/
.idea/
